$primario_1: rgb(26, 26, 26);
$primario_2: rgb(44, 42, 42);
$primario_3: goldenrod;

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

header {
  display: flex;
  background-color: $primario_1;
  justify-content: center;

  align-items: center;
  top: 0;
  left: 0;
  height: 45px;
  color: white;
  font-size: 20px;
  width: 100%;
  transition: top 0.2s linear;
  transition-property: top;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;

  border-bottom: 1px solid $primario_3;
}
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  background-color: $primario_1;
  border-radius: 4px;
  border-style: solid;
  border-color: $primario_3;
  border-width: 1px;
  color: white;
}

.header a.active {
  background-color: $primario_1;
  border-radius: 4px;
  border-style: solid;
  border-color: $primario_3;
  border-width: 1px;
  color: white;
}

footer {
  background-color: $primario_1;
}
section {
  border-bottom: 1px solid $primario_3;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.esquerda {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow: visible;
  align-items: center;
}
.esquerda h1 {
  font-size: 1.7em;
}
.direita {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  margin: 0px;
  align-items: center;
}

.gradiente {
  background-image: linear-gradient($primario_1, $primario_2);
}

.sub {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  max-width: var(--maxPrimaryPageWidth);
  width: 100%;
  padding: 0 40px;
}

.inner-content {
  max-width: var(--maxPrimaryPageWidth);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.nova-sessao {
  min-height: 350px;
  height: 100%;
  width: 100%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: auto;
}

.filme {
  display: flex;
  flex-wrap: nowrap;
  padding: 30px 40px;
  .poster {
    margin-right: 30px;
    img {
      height: 450px;
      width: 300px;
      border-radius: 3px;
    }
  }

  .conteudo-filme {
    .titulo {
      display: flex;
      align-items: baseline;
      h2 {
        margin-top: 0;
        margin-bottom: 5px;
      }
    }
    .descricao {
      .informacoes {
        display: inline-flex;
        align-items: center;
        .classificao {
          border: #9e9e9e;
          border-style: solid;
          border-width: 1px;
          border-radius: 2px;
          padding: 5px;
          margin-right: 5px;
        }
        .dataFilme {
          margin-right: 3px;
        }
        ol {
          display: inline-flex;
          list-style-type: disc;
          margin: 0;
          padding-left: 30px;
          li {
            padding: 0px 30px 0px 0px;
          }
          li:last-child {
            padding: 0px 10px 0px 0px;
          }
        }
        .duracao {
          padding-left: 5px;
        }
      }

      .arte {
        ol {
          display: flex;
          list-style-type: none;
          list-style-position: inside;
          padding: 10px 0px;
          margin: 0px;
          flex-wrap: wrap;
          li {
            padding: 0px 10px 0px 0px;
            h4 {
              margin-top: 0;
              margin-bottom: 5px;
              font-weight: 700;
            }
            h5 {
              margin-top: 0;
              margin-bottom: 5px;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}

.conteudo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.conteudo-wrap {
  max-width: var(--maxPrimaryPageWidth);
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  padding: 50px 40px;
  flex-wrap: wrap;
}

.textoBemVindo {
  width: 100%;
  margin-top: 0em;
  margin-bottom: 4em;
}

.conteudo-wrap div.caixaDePesquisa {
  width: 100%;
}

.conteudo-wrap div.form {
  margin-top: 30px;
  position: relative;
  top: 0;
  left: 0;
}

.caixaDePesquisa > div.form input {
  width: -webkit-fill-available;
  height: 20px;
  line-height: 46px;
  font-size: 1.1em;
  color: $primario_1;
  border: none;
  border-radius: 30px;
  outline: 0;
  padding: 10px 20px;
  margin-top: 30px;
  display: inline-block;
}

.textoBemVindo > h2 {
  font-size: 2.8em;
  font-weight: 700;
  line-height: 1;
  width: 100%;
  margin: 0;
  padding: 0;
}

.textoBemVindo > h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
}

.conteudo-filmes {
  width: 100%;
  display: block;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.conteudo-filmes div.header-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding-left: 40px;
  font-size: 1.1em;
  font-weight: 600;
}
.conteudo-filmes div.header-section h2 {
  margin-bottom: -10px;
  margin-top: 5px;
}
.midia {
  width: 100%;
  display: flexbox;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  white-space: normal;
}
.midia div.colunas {
  height: auto;
  width: 100%;
  max-width: var(--maxPrimaryPageWidth);
  min-height: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding-top: 20px;
  padding-bottom: 30px;
  background: transparent;
}

.midia div.colunas div.coluna {
  margin-left: 40px;
  width: 150px;
  min-width: 150px;
}

.midia div.colunas div.coluna div.imagem {
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
  width: 100%;
  min-height: calc(150px * 1.5);
  height: calc(150px * 1.5);
  border-radius: 8px;
  background: transparent;
  overflow: hidden;
  transition: 0.3s;
}

.midia div.colunas div.coluna div.imagem:hover {
  box-shadow: 0 2px 8px 3px rgba(218, 165, 32, 0.4);
}

.midia div.colunas div.coluna div.imagem img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.midia div.colunas div.coluna .informacoes {
  margin-top: -12px;
}

.midia div.colunas div.coluna div.informacoes h2 {
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: -10px;
}
.midia div.colunas div.coluna div.informacoes p {
  margin-bottom: -10px;
}

.midia div.colunas div.coluna div.informacoes h2 a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.midia div.colunas div.coluna div.informacoes h2 a:hover {
  text-decoration: none;
  color: rgb(218, 165, 32);
}

.midia div.colunas div.coluna div.informacoes h4 {
  margin-bottom: 0px;
  font-weight: 700;
}
.midia div.colunas div.coluna div.informacoes h5 {
  margin-top: 0px;
  font-weight: 300;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}
.topRatedList {
  margin-top: 35px;
  width: 100%;
  padding: 0px 40px;
}

.topRatedList th {
  text-align: center;
  vertical-align: middle;
  border: none;
  border-bottom: 1px solid $primario_3;
  font-size: 1rem;
  font-weight: 300;
  padding: 5px 50px;
}
.topRatedList th.rank {
  text-align: center;
  vertical-align: middle;
  border: none;
  border-bottom: 1px solid $primario_3;
  font-size: 1rem;
  font-weight: 300;
  padding: 0;
}

.topRatedList tr {
  background: none;
  text-align: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  border-bottom: 1px solid $primario_3;
}
.topRatedList tbody tr:last-child {
  background: none;
  text-align: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
}

.topRatedList td.celulaOrdem {
  padding: 0rem;
  color: rgb(207, 205, 205);
  font-weight: 700;
  text-align: center;
}
.topRatedList td {
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  outline: none;
  padding: 1.5em;
}

.topRatedList a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.topRatedList a:hover {
  text-decoration: none;
  color: rgb(218, 165, 32);
}

.topRatedList a.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipContent {
  visibility: hidden;
  width: 30em;
  height: 20em;
  background-color: $primario_1;
  color: #fff;
  border-radius: 8px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  justify-content: flex-start;
  display: flex;
  bottom: 80%;
  left: 105%;
}

.tooltip:hover .tooltipContent {
  visibility: visible;
}

.tooltipTexto {
  overflow-x: hidden;
  overflow-y: scroll;
}

.tooltipTexto h2 {
  margin: 0;
  padding-top: 10px;
}

.tooltipTexto h3 {
  margin: 0;
  padding: 0px 5px;
}

.tooltipTexto p {
  text-align: justify;
  margin: 0;
  padding: 20px 10px;
}

.tooltipImagem {
  padding: 10px 5px;
}

.tooltipImagem img {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
  background: transparent;
}

.opcoes {
  width: 100%;
  height: 120px;
  min-height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.opcoes div.ordenar {
  margin: 0px 55px;
  margin-top: 20px;
  font-size: 0.8em;
  transition: 0.2s;
  border-radius: 8px;
  border-color: $primario_3;
  border-style: solid;
  border-width: 0.1em;
  width: 200px;
}

.ordenar div.texto {
  margin: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.ordenar div.selecao {
  margin: 10px 15px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.ordenar div.texto h2 {
  margin: 0px;
}
.ordenar div.selecao h3 {
  margin: 0px;
}

.opcoes div.filtrar {
  margin: 0px 55px;
  margin-top: 20px;
  font-size: 0.8em;
  transition: 0.2s;
  border-radius: 8px;
  border-color: $primario_3;
  border-style: solid;
  border-width: 0.1em;
  width: 100%;
}

.filtrar div.texto {
  margin: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.filtrar div.texto h2 {
  margin: 0px;
}
.filtrar h3 {
  margin: 0px;
}

.filtrar div.filtros div.opcoes-filtro {
  display: flex;
  justify-content: flex-start;
}

div.opcoes-filtro div.data {
  display: flex;
}
div.data input {
  height: 30px;
}

div.opcoes-filtro div.genero {
  display: flex;
}

div.genero ul {
  display: block;
  list-style-type: none;
}
div.genero ul > li {
  display: inline-flex;
  border: 1px solid #9e9e9e;
  border-radius: 14px;
  padding: 4px 12px;
  font-size: 0.9em;
  margin-right: 6px;
  margin-top: 8px;
  cursor: pointer;
}

div.genero ul > li:hover {
  display: inline-flex;
  border: 1px solid $primario_3;
  border-radius: 14px;
  padding: 4px 12px;
  font-size: 0.9em;
  margin-right: 6px;
  margin-top: 8px;
}

.closed {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(46, 46, 46);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
